.App {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.App header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 15px;
}
.App main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

